@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
:root{
    --main-font:'Epilogue', sans-serif;
    --ft-p:15px;
    /* neutral  */
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-size: 100%;
}
body{
    font-family: var(--main-font);
    font-size: var(--ft-p);
    height: 100vh;
    background: var(--Almost-White);   
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px 0 30px;
    color: var(--Medium-Gray);
}
.nav{
    display: inherit;
    position: relative;
    width: 100%;
    margin-inline: auto;
}
.logo{
    margin-right: 60px;
}
.nav-link-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.nav-link{
    display: flex;
    align-items: center;
    gap: 36px;
    font-size: 13px;
}
.nav-link a{
    text-decoration: none;
    color: var(--Medium-Gray);
}
.drop-container{
    position: relative;
    line-height: 1;
}
.drop:hover,
a:hover{
    color: black;
    cursor: pointer;
}
.drop{
    border: 0;
    outline: 0;
    padding: 0;
    background-color: transparent;
    color: var(--Medium-Gray);
}

.drop-content{
    display: none;
    width: 140px;
    padding: 20px;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 31px;
    background: white;
    border-radius: 0.625rem;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.icon{
    margin-right: 10px;
}
.btn-container{
    display: flex;
    gap: 20px;
}
.btn{
    border: 0;
    background: transparent;
    padding: 8px 15px;
    color: var(--Medium-Gray);
}
.btn:hover,.reg-btn:hover{
    color: black;
    cursor: pointer;
    border-color: black;
}

/* mobile nav */

.mb-container{
    height: 100vh;
    background: rgb(0 0 0 / 74%);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    /* right: 42px; */
    width: 100%;
}
.mb-nav-bar{
    background: white;
    display: inherit;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    gap: 20px;
}

.menu{
    display: none;
    z-index:6 ;
}
.menu-close{
    display: none;
}

@media(max-width:500px){
    .nav{
        width: 100%;
        gap: 0;
        justify-content: space-between;
    }
    .nav-link-container{
        max-width: 260px;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        right: -30px;
        top: -20px;
        padding: 15px 25px;
        transform: translateX(270px);
        transition: transform 0.5s ease-in;
        z-index: 5;
    }
    
    .overlay{
        width: 102vw;
        height: 102vh;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: -20px;
        left: -30px;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.8s ease-in-out;
    }
    .menu-close{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .nav-link{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .btn-container{
        flex-direction: column;
        width: 100%;
    }
    .menu{
        display: block;
        z-index: 4;
    }
    .drop-content{
        position: relative;
        width: 100%;
        top: 0;
        background: transparent;
        box-shadow: none;
    }
    .drop-container{
        width: 100%;
    }
    
}




/* active state */
.drop-container.show .drop-content{
    display: flex;
    color: black;
}
.drop-container.show .arrow{
    transform: rotate(180deg);
}
.drop-container.show .drop{
    color: black;
}
.nav.active .nav-link-container{
    transform: translate(0);
    transition: transform 0.5s ease-in;
}
.nav.active .overlay{
    opacity: 1;
}
.nav.active .ct-I,.nav.active .ct-II{
    left: 0;
    width: 100%;
}
/* helpers */
.ct-I{
    left: -72px;
}
.ct-II{
    width: 102px;
}
.re-btn{
    border: 1px solid var(--Medium-Gray) ;
    border-radius: 0.625rem;
}